@import "includes/normalize";
@import "includes/variables";
@import "includes/mixins";

@import "includes/components";

@import "includes/slider";

* {
   @include box-sizing(border-box);

   &:before,
   &:after {
		@include box-sizing(border-box);
   }
}

body {
	font-size: 15px;
	line-height: 1.46666em;
	font-family: $font-family-sans-serif;
	font-weight: $font-weight-light;

	&.debug {
		.component {
			background: $sullair-green;
		}
	}
}

header {
	border-top: 3px solid $sullair-green;
	height: 83px;
	z-index: $header-z;
	position: relative;
	background: white;
	@include clearfix;

	.wrapper {
		margin-bottom: 0;
		overflow: hidden;
		position: relative;
		padding: 30px 0;
		height: 80px;

		.logo {
			float: left;
			background: transparent url('../img/logo.png') no-repeat;
			width: 249px;
			height: 16px;

			a {
				display: block;
				text-indent: -9999px;
			}
		}

		nav {
			float: left;
			margin-left: 10px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

		 		li {
		 			display: inline-block;
		 			margin-left: 90px;

		 			a {
		 				display: block;
		 				color: black;
		 				font-size: 20px;
		 				font-weight: 100;
		 				text-decoration: none;

		 				&.active {
		 					color: $sullair-green;
		 				}
		 			}
		 		}
			}
		}

		.search {
		 	float: right;
			height: 50px;
			background: $sullair-white;
			position: relative;
			bottom: 40px;
			width: 1000px;
			left: 955px;
			transition: left .3s ease-in-out;


			&.open {
				left: 0;
			}

			i {
				padding: 17px 17px;
				cursor: pointer;
				float: left;
			}

			form {
				display: block;
				font-size: 12px;
				float: left;
				margin-right: 30px;

				input[type="text"] {
					width: 600px;
					border: none;
					border-bottom: 1px solid $sullair-medium-grey2;
					color: $sullair-black;
					padding: 1% 0;
					font-size: 20px;
					font-weight: 100;
					background-color: transparent;

					&:focus {
						outline: none;
						color: $sullair-green;
						border-color: $sullair-green;

						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							color: $sullair-green;
						}

						&::-moz-placeholder { /* Firefox 19+ */
							color: $sullair-green;
						}

						&:-ms-input-placeholder { /* IE 10+ */
							color: $sullair-green;
						}

						&:-moz-placeholder { /* Firefox 18- */
							color: $sullair-green;
						}
					}
				}
			}

			.filters {
				position: relative;
				top: 15px;
				font-size: 14px;
				color: #999;
				float: left;
				width: 255px;

				.pill {
					border-radius: 2em;
					background: $sullair-medium-grey;
					color: $sullair-white;
					font-weight: $font-weight-bold;
					padding: 2% 5%;
					opacity: 0.5;
					cursor: pointer;

					&.selected {
						background-color: $sullair-green;
					}
				}	
			}

			
		}
	}
}

.inverted-nav {
	header {
		background-color: $sullair-black;
		border-color: $sullair-white;

		.logo {
			background-image: url('../img/logo_white.png');
		}

		nav {
			ul {
				li {
					a {
						color: $sullair-white;
					}		
				}
			}
		}

		.search {
			background: $sullair-black;

			i {
				color: white;
			}

			form {

				input[type="text"] {
					color: $sullair-medium-grey2;
				}
			}
		}
	}

	.breadcrumbs {
		background: rgba(0,0,0,0.5);
		color: $sullair-white;

		a {
			color: $sullair-white;

			&:after {
				color: $sullair-white;
			}
		}
	}
}

.subnav {
	position: absolute;
	left: 0;
	right: 0;
	top: -1000px;
	background: white;
	z-index: $subnav-z;
	transition: top .2s ease-in-out;
	@include clearfix;

	.category {
		float: left;
		width: 16.66666666666667%;

		h4 {
			font-size: 18px;
			font-weight: $font-weight-roman;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: 11px;
				a {
					font-size: 14px;
					font-weight: $font-weight-medium;
					color: #4d4d4d;
					text-decoration: none;
					padding: 13px 17px;
					border-radius: 2em;
					margin-left: -17px;

					&:hover {
						background: $sullair-green;
						color: white;
					}

					&.disabled {
						color: $sullair-light-grey2;
						pointer-events: none;
					}
				}
			}
		}
	}
	.relateditems {
		margin-top: 50px;
		margin-bottom: 30px;

		.relateditem {
			width: 25%;
			background: $sullair-black;
			float: left;
			height: 138px;
			position: relative;

			
			img {
				@include img-responsive;
			}
			

			.text {
				color: white;
				position: absolute;
				bottom: 12px;
				left: 12px;

				h4 {
					margin: 0;
					font-size: 24px;
					font-weight: $font-weight-bold;
				}

				h5 {
					margin: 0;
					font-size: 20px;
					font-weight: $font-weight-roman;
				}
			}
		}
	}

	@media (max-width: $breakpoint-small) {
		display: none;
	}
	
}

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: $overlay-z;
	background: rgba(0,0,0,0.4);
}



.intro {
	margin-top: 30px;
	margin-bottom: 30px;

	.component {
		.title {
			font-size: 60px;
			font-weight: $font-weight-light;
			line-height: .9em;
			margin: 0;
		}

		&.copy {
			padding: 30px 0;
		}
	}
}

footer {
	background: $sullair-dark-grey;
	color: $sullair-medium-grey;
	font-weight: $font-weight-light;
	font-size: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	clear: both;
	@include clearfix;

	.wrapper {
		margin-bottom: 0;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
		a {
			color: $sullair-medium-grey;
			text-decoration: none;

			&:after {
				content: "\27F6";
				font-size: 1.6em;
				position: relative;
				font-weight: $font-weight-light;
				margin-left: 30px;
				display: inline-block;
			}

			&:hover {
				text-decoration: underline;

				&:after {
					text-decoration: none;
				}
			}
		}
	}

	@media (max-width: $breakpoint-medium) {
		padding-left: 1em;
		padding-right: 1em;
	}
}

/* MEDIA QUERIES */

@media (min-width: 1367px) {
  body {
  	background: $sullair-white;
  }
}

@media (max-width: $breakpoint-medium) {
	body {
		background: yellow;
	}

  .hide-md {
  	display: none !important;
  }

}

@media (max-width: $breakpoint-small) {
  
  body {
  	background: red;
  }
}

.short-contact {
	h4 {
		font-size: 40px;
		font-weight: $font-weight-light;
		color: $sullair-green;
		line-height: 1.2em;

		@media (max-width: $breakpoint-small) {
			width: 100&;
			text-align: center;
		}
	}

	form {
		input, select {
			width: 47%;
			margin: 10px 1%;

			color: $sullair-green;
		}

		input[type="text"], input[type="email"] {
			padding: 0;
			border: none;
			border-bottom: 2px solid $sullair-green;
			padding: 1%;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: $sullair-green;
			}

			&::-moz-placeholder { /* Firefox 19+ */
				color: $sullair-green;
			}

			&:-ms-input-placeholder { /* IE 10+ */
				color: $sullair-green;
			}

			&:-moz-placeholder { /* Firefox 18- */
				color: $sullair-green;
			}
		}

		select {
			padding: 0;
			border: none;
			border-bottom: 2px solid $sullair-green;
			padding: 1%;
		}

		button {
			border-radius: 2em;
			width: 47%;
			background-color: $sullair-white;
			border: none;
			text-align: center;
			font-size: 16px;
			font-weight: $font-weight-bold;
			margin: 10px 1%;

			&.white {
				border: 2px solid $sullair-green;
				color: $sullair-green;
				position: relative;
				&:before,
				&:after {
					font-weight: 100;
					font-size: 23px;
				}

				&:before {
					content: "\27F5";
					position: absolute;
					left: 5px;
				}

				&:after {
					content: "\27F6";
					position: absolute;
					right: 5px;
				}
			}

			&.green {
				background-color: $sullair-green;
				border: 2px solid $sullair-green;
				color: $sullair-white;
			}


		}

	}
}

.options {
	position: absolute;
	left: 1em;
	bottom: 12em;

	.legend {
		font-weight: $font-weight-light;
		font-size: 16px;
	}

	select {
		margin: 1% 0;
		border: 1px solid $sullair-black;
		border-radius: 2em;
		font-family: $font-family-sans-serif;
		font-size: 16px;
		min-width: 300px;
		padding: 1% 2%;
	}
}

.breadcrumbs {
	font-size: 12px;
	margin-top: 5px;
	position: absolute;
	left: 0;
	right: 0;
	top: 78px;
	height: 37px;
	padding: 6px 0 0;

	ol {
		list-style: none;
		margin: 0;
		padding: 0;
		float: left;

		li {
			display: inline-block;

			margin-right: 1em;

		}
	}

	a {
		text-decoration: none;
		color: $sullair-black;
		display: block;

		&:hover {
			text-decoration: underline;
		}

		&:after{
			content: "\f054";
			font-family: 'FontAwesome';
			display: inline-block;
			font-size: 8px;
			margin-left: 14px;
		}	

	}

	.contacto {
		float: right;
	}

	&+.wrapper {
		margin-top: 50px;
	}
}

@import "includes/helpers";