.wrapper {
	width: 100%;
	max-width: 1272px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $grid-gutter-width / 2;
	@include clearfix;

	&.videos {
		h2 {
			font-weight: $font-weight-light;
			font-size: 60px;
		}

		.cta {
			display: block;
			font-weight: $font-weight-bold;
			font-size: 15px;
			color: $sullair-black;
			text-decoration: none;
			text-align: right;
		}
	}
}

.component {
	padding-left: $grid-gutter-width / 2;
	padding-right: $grid-gutter-width / 2;
	float: left;
	margin-top: 12px;

	&.w2 {
		width: 25%;

		@media (max-width: $breakpoint-small) {
			width: 50%;
			max-width: 317px;
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	&.w4 {
		width: 50%;

		.text {
			padding: 30px;
		}

		@media (max-width: $breakpoint-small) {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.w6 {
		width: 75%;

		@media (max-width: $breakpoint-medium) {
			&.full-md {
				width: 100%;
				max-width: inherit;
			}
		}
	}

	&.w8 {
		width: 100%;
		max-width: 1270px;

		@media (max-width: $breakpoint-small) {
			&.h3 {
				height: auto;
				.image, .text {
					width: 100%;
					max-width: inherit;
					@include clearfix;
					background-color: $sullair-white;
				}

				.image {
					min-height: 300px;
				}

				.text {
					height: auto;
				}
			}
		}
	}

	&.h1 {
		height: 138px;
	}

	&.h2 {
		height: 300px;
	}

	&.h3 {
		height: 438px;
	}

	&.h4 {
		height: 600px;
	}

	&.full-width-inner-text {
		background-repeat: no-repeat;
		background-position: right center;
		background-size: cover;
		width: 100%;
		height: 700px;
		margin-bottom: $grid-gutter-width / 2;
		padding-left: 0;
		padding-right: 0;
		float: none;
		@include clearfix;

		.text {
			background: $sullair-white;
			height: 438px;
			width: 25%;
			max-width: 300px;
			margin-top: 138px;
			@include box-shadow(5px, 5px ,10px, 0, rgba(0,0,0,0.4));
		}

		@media (max-width: $breakpoint-small) {
			height: auto;
			
			.wrapper {
				padding: 30px 0;
			}

			.text {
				width: 90%;
				max-width: inherit;
				margin: 0 auto;
				height: auto;
			}
		}

	}

	&.full-width-text-right {
		background-color: $sullair-white;
		width: 100%;
		height: 600px;
		margin-bottom: $grid-gutter-width / 2;
		padding-left: 0;
		padding-right: 0;
		float: none;
		@include clearfix;

		.image, .text-wrapper {
			width: 50%;
			float: left;
			height: 600px;
		}

		.image {
			background-repeat: no-repeat;
			background-position: right center;
		}

		.text-wrapper {
			display: table;

			.text {
				display: table-cell;
				vertical-align: middle;

				.subtitle, .title, .copy, .cta {
					margin-top: 0;
					margin-bottom: 0;
				}

				.subtitle {
					font-weight: $font-weight-roman;
					font-size: 12px;
					margin-bottom: 45px;
				}

				.title {
					font-size: 60px;
					line-height: 1em;
					font-weight: $font-weight-light;
					margin-bottom: 40px;
				}

				.cta {
					display: block;
					font-weight: $font-weight-bold;
					font-size: 15px;
					color: $sullair-black;
					text-decoration: none;
					margin-top: 20px;
				}
			}
		}

		&.two-col-text {
			.text-wrapper {
				width: 30%;
				font-size: .9em;

				.text {
					.columns {
						columns: 2;
					}
				}
			}

			@media (max-width: $breakpoint-medium) {
				.text-wrapper {
					width: 50%;

					.text {
						.colums {
							columns: 1;
						}
					}
				}
			}
		}
		
		@media (max-width: $breakpoint-small) {

			height: auto;

			.image, .text-wrapper {
				width: 100%;
				clear: both;
				float: none;
				@include clearfix;
				background-color: $sullair-white;
			}

			.image {
			    background-size: contain;
				background-position: center;
			}

			.text-wrapper {
				height: 300px;
			}

		}

	}
	
	&.video {
		max-width: 317px;
		float: left;

		.image {
			position: relative;

			.duration {
				position: absolute;
				left: 10px;
				top: 5px;
				color: $sullair-white;
				font-weight: $font-weight-bold;
				font-size: 12px;
			}
		}

		.text {
			padding: 0;
			margin-top: 25px;
			font-size: 15px;

			p:before {
				content: "> "
			}
		}

		@media (max-width: $breakpoint-small) {
			width: 50%;
			padding-left: .5%;
			padding-right: .5%;

			.text {
				padding-left: 1%;
				padding-right: 1%;
			}
		}
	}

	&.w8.h3 {
		.image {
			background-repeat: no-repeat;
			background-position: right center;
			background-size: cover;
			width: 76.37796%;
			max-width: 970px;
			float: left;
			overflow: hidden;
			min-height: 438px;
		}

		.text {
			width: 23.62204%;
			max-width: 300px;
			float: left;
			height: 438px;
		}
	}

	> .image {
		img {
			@include img-responsive();
		}
	}

	> .text, > .wrapper > .text {
		padding: 30px;

		&.border{
			border-bottom: 1px solid $sullair-light-grey2;
		}

		.subtitle, .title, .copy, .cta {
			margin-top: 0;
			margin-bottom: 0;
		}

		.subtitle {
			font-weight: $font-weight-roman;
			font-size: 12px;
			line-height: 1em;
			margin-bottom: 22px;
		}

		.title {
			font-weight: $font-weight-light;
			font-size: 30px;
			line-height: 1em;
			margin-bottom: 20px;
		}

		.cta {
			display: block;
			font-weight: $font-weight-bold;
			font-size: 15px;
			color: $sullair-black;
			text-decoration: none;
			margin-top: 20px;

			&:hover {
				text-decoration: underline;
			}
		}

		&.grey {
			background-color: $sullair-light-grey;
		}
	}

	&.image-right {
		padding-left: 0;
		padding-right: 0;
		float: right;
		width: 75%;
		@include clearfix;

		img {
			@include img-responsive;
		}

		@media (max-width: $breakpoint-medium) {
			width: 100%;
		}

		@media (max-width: $breakpoint-small) {
			min-height: 300px;
		}
	}
}

.table {
	width: 100%;
	
	tr{
		border-bottom: 1px solid $sullair-medium-grey2;

		th, td {
			padding: 25px;
		}

		&:first-child {
			border-bottom: 1px solid $sullair-medium-grey2;
		}

	}

	thead, tfoot {
		tr {
			th {
				text-align: left;
				font-weight: $font-weight-light;
				color: $sullair-medium-grey2;
				font-size: 14px;

				&:nth-child(2) {
					color: $sullair-green;
					font-size: 40px;
				}
			}
		}
	}

	tfoot, tbody {
		tr {
			&:last-child {
				border: none;
			}
		}
	}

	tbody {
		tr {
			td {
				font-size: 40px;
				font-weight: $font-weight-light;
				color: $sullair-medium-grey2;

				&:nth-child(2) {
					color: $sullair-black;
				}
			}

			&:first-child {
				border-bottom: 1px solid $sullair-medium-grey2;
			}
		}
	}

}

.hero {
	height: 620px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	.wrapper {
		height: 620px;
	}

	.title, .subtitle {
		color: $sullair-white;
		margin: 0;
		line-height: 0.9em;
	}

	.title {
		font-size: 188px;
		font-weight: $font-weight-bold;
	}

	.subtitle {
		font-size: 24px;
		font-weight: $font-weight-roman;
	}
}

.vcenter {
	display: table;
	height: 100%;

	.content {
		display: table-cell;
		vertical-align: middle;
	}
}